

.projectCard{
    width: 400px;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow:hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.projectCard:hover{
    transform: scale(1.05);

}

.cardVideo{
    width:100%;
    height:100%;
    object-fit: contain;
    display: block;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.cardTitle{
    position: absolute;
  top: 0;
  width: 100%;
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  font-size: 1.75rem;
  z-index: 2;
  color: white;
}