.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4rem, 24rem));
    gap:4rem;
    justify-content: center;


}

.p{
    font-size: small;
}

h1{
    margin-bottom: 2em;
}